<!-- <h1>Sign Up</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button>Sign Up!!</button>
</form> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/SignUp</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/signup/login.css" />
    <style>
      body {
        background: url(/signup/loginimages/login.svg) no-repeat center center
          fixed;
      }
    </style>
  </head>

  <body>
    <div class="login-page">
      <div class="form">
        <h1 style="color: rgb(76, 127, 175); margin-bottom: 10%;">SIGN UP</h1>
        <form class="register-form" action="/register" method="POST">
          <input type="text" name="username" placeholder="username" required />
          <input
            type="password"
            name="password"
            placeholder="password"
            required
          />
          <button>create</button>
          <p class="message">
            Already registered? <a href="/login">Sign In</a>
          </p>
        </form>
        <!-- <form class="login-form" action="/login" method="POST">
          <input type="text" name="username" placeholder="username" />
          <input type="password" name="password" placeholder="password" />
          <button>login</button>
          <p class="message">
            Not registered? <a href="#">Create an account</a>
          </p>
        </form> -->
      </div>
    </div>
  </body>
</html>
